<%= form_with model: @task do |f| %>
  <div>
    <strong><%= f.label :title %></strong> <br>
    <%= f.text_field :title %>
  </div>
  <div>
    <strong><%= f.label :details %></strong> <br>
    <%= f.text_field :details %>
  </div>
  <div>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <%= f.submit :class => 'btn btn-primary'%>
<% end %>
